In [1]:
sc

In [4]:
valuesA = [('ankita', 2000), ('ank', 1000), ('sddsd', 775)]
df = spark.createDataFrame(valuesA, ['name', 'sal'])
df

DataFrame[name: string, sal: bigint]

In [5]:
df.show()

+------+----+
|  name| sal|
+------+----+
|ankita|2000|
|   ank|1000|
| sddsd| 775|
+------+----+

In [6]:
valuesB = [('ankita', 1), ('ank', 2)]
df1 = spark.createDataFrame(valuesB, ['name', 'id'])
df1.show()

+------+---+
|  name| id|
+------+---+
|ankita|  1|
|   ank|  2|
+------+---+

In [7]:
#inner join
inner_join = df.join(df1, df.name == df1.name)

In [9]:
inner_join.show()

+------+----+------+---+
|  name| sal|  name| id|
+------+----+------+---+
|ankita|2000|ankita|  1|
|   ank|1000|   ank|  2|
+------+----+------+---+

In [10]:
#left outer join
left_join = df.join(df1, df.name == df1.name, how = 'left')
left_join.show()

+------+----+------+----+
|  name| sal|  name|  id|
+------+----+------+----+
|ankita|2000|ankita|   1|
| sddsd| 775|  null|null|
|   ank|1000|   ank|   2|
+------+----+------+----+

In [11]:
#right outer join
right_join = df.join(df1, df.name == df1.name, how = 'right')
right_join.show()

+------+----+------+---+
|  name| sal|  name| id|
+------+----+------+---+
|ankita|2000|ankita|  1|
|   ank|1000|   ank|  2|
+------+----+------+---+

In [12]:
#full join
full_join = df.join(df1, df.name == df1.name, how = 'full')
full_join.show()

+------+----+------+----+
|  name| sal|  name|  id|
+------+----+------+----+
|ankita|2000|ankita|   1|
| sddsd| 775|  null|null|
|   ank|1000|   ank|   2|
+------+----+------+----+