In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("airline dataset analysis").getOrCreate()

In [2]:
from pyspark.sql.types import Row
from datetime import datetime

In [3]:
complex_rdd = sc.parallelize([
                    Row(id=1, name='Ankita', dic = {'a':1, 'b':2}, list_ = [1,2]),
                    Row(id=2, name='Ankit', dic = {'c':1, 'b':2}, list_ = [3,4]),
                    Row(id=3, name='Anki', dic = {'g':1, 'f':2}, list_ = [1,2])
                ])
complex_rdd

ParallelCollectionRDD[0] at parallelize at PythonRDD.scala:184

In [6]:
complex_df  = complex_rdd.toDF()
complex_df.show()

+----------------+---+------+------+
|             dic| id| list_|  name|
+----------------+---+------+------+
|[a -> 1, b -> 2]|  1|[1, 2]|Ankita|
|[b -> 2, c -> 1]|  2|[3, 4]| Ankit|
|[f -> 2, g -> 1]|  3|[1, 2]|  Anki|
+----------------+---+------+------+

In [13]:
#register complex_df as table to perform sql queries on it
complex_df.createOrReplaceTempView('records')
#createorreplaceTempView creates a table active for this session only and not shared accross other sessions

In [14]:
sqlc = SQLContext(sc)
sqlc

In [16]:
sql_record = sqlc.sql('select * from records')

In [17]:
sql_record.show()

+----------------+---+------+------+
|             dic| id| list_|  name|
+----------------+---+------+------+
|[a -> 1, b -> 2]|  1|[1, 2]|Ankita|
|[b -> 2, c -> 1]|  2|[3, 4]| Ankit|
|[f -> 2, g -> 1]|  3|[1, 2]|  Anki|
+----------------+---+------+------+

In [23]:
sqlc.sql('select id, list_[0], name from records').show()

+---+--------+------+
| id|list_[0]|  name|
+---+--------+------+
|  1|       1|Ankita|
|  2|       3| Ankit|
|  3|       1|  Anki|
+---+--------+------+

In [28]:
sqlc.sql('select id, list_[0], name from records where name ="Ankita"').show()

+---+--------+------+
| id|list_[0]|  name|
+---+--------+------+
|  1|       1|Ankita|
+---+--------+------+

In [29]:
sqlc.sql('select id, list_[0], name from records where id > 1').show()

+---+--------+-----+
| id|list_[0]| name|
+---+--------+-----+
|  2|       3|Ankit|
|  3|       1| Anki|
+---+--------+-----+

In [32]:
#register complex_df as table to perform sql queries on it
complex_df.createGlobalTempView('records2')
#accessible accross other sessions

In [33]:
sql_record2 = sqlc.sql('select * from  global_temp.records')

In [34]:
sql_record2.show()

+----------------+---+------+------+
|             dic| id| list_|  name|
+----------------+---+------+------+
|[a -> 1, b -> 2]|  1|[1, 2]|Ankita|
|[b -> 2, c -> 1]|  2|[3, 4]| Ankit|
|[f -> 2, g -> 1]|  3|[1, 2]|  Anki|
+----------------+---+------+------+